<div class="main container-fluid">
    <div class="container content">

        <div *ngFor="let contato of contatos" class="top col-lg-5">
            <div class="item">
                <a href="{{contato.url}}" target="_blank" rel=""><img src="{{contato.logo}}{{contato.rede}}.png" alt="" style="width: 64px; height: 64px;"></a>
                <p>
                    <a href="{{contato.url}}" target="_blank" rel="">{{contato.rede}}</a>
                </p>
            </div>

        </div>
    </div>