.content {
    animation: fadeIn 0.8s ease-in-out forwards;
    background-image: var(--gradiente-verde);
    background-clip: text;
    height: 66vh;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    align-items: center;
    text-align: center;

    .top {
        //flex-basis: calc(33.3333% - 20px);
        margin: 10px;


        a {
            background-image: var(--gradiente-verde);
            background-clip: text;
            color: transparent;
        }

        p {
            font-size: 20px;
            line-height: 25px;
            text-align: left;
            font-family: roboto;
            text-align: center;
        }

        img {
            transform: scale(1);
            transition: transform 250ms ease;
            filter: invert(76%) sepia(27%) saturate(311%) hue-rotate(79deg) brightness(95%) contrast(89%);
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: end;

    h2 {
        font-family: var(--fleur);
        font-size: 50px;
        line-height: 55px;
        text-align: end;
    }
}