.content {
    animation: fadeIn 0.8s ease-in-out forwards;
    background-image: var(--gradiente-verde);
    background-clip: text;
    //height: 66vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    .top {

        width: 100%;
        p {

            font-size: 20px;
            line-height: 25px;
            //text-align: center;
            font-family: roboto;
        }
    }
}




.bottom {
    display: flex;
    width: 100%;
    justify-content: end;
    
    h2 {
        font-family: var(--fleur);
        font-size: 50px;
        line-height: 55px;
        text-align: end;
    }
}