.content {
    animation: fadeIn 0.8s ease-in-out forwards;
    background-image: var(--gradiente-verde);
    background-clip: text;
    height: 66vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;




    .top {

        flex-basis: calc(33.3333% - 20px); /* Ajuste a largura conforme necessário, incluindo margens */
        margin: 10px; /* Adicione margens conforme necessário */
        p {
            font-size: 20px;
            line-height: 25px;
            text-align: left;
            font-family: roboto;
            text-align: center;
        }
    }
}

.top {
   
}


.bottom {
    display: flex;
    width: 100%;
    justify-content: end;
    
    h2 {
        font-family: var(--fleur);
        font-size: 50px;
        line-height: 55px;
        text-align: end;
    }
}