<div class="main container-fluid">
    <div class="container content">

        <!-- <div *ngFor="let habilidade of habilidades" class="top col-lg-5">
            <p>
                {{habilidade.habilidade}}
            </p>
        </div>
        <div class="bottom">
            <h2 class="">Habilidades</h2>
        </div>
    </div> -->

        <div *ngFor="let tecnologia of tecnologias" class="top col-lg-5">
            <div class="item">
                <img src="{{tecnologia.logo}}{{tecnologia.tecnologia}}.png" alt="" style="width: 64px; height: 64px">
            </div>
            <p>
                {{tecnologia.tecnologia}}
            </p>
        </div>

        
        <div class="bottom">
            <h2 class="">Tecnologias</h2>
        </div>
    </div>