<mat-toolbar>
    <div class="nav-container container">
        <div>
            <button mat-button>
                
                <a class="" aria-label="Example icon-button with menu icon" routerLink="/home">
                    <i class="logo">J<span class="blink">_</span></i>
                </a>
            </button>
        </div>
        <div class="nav-links">
            <ul class="nav">
                <li class="nav-item nav-link"><a routerLink="/home/sobre">Sobre</a></li>
                <li class="nav-item nav-link"><a routerLink="/home/habilidades">Habilidades</a></li>
                <li class="nav-item nav-link"><a routerLink="/home/tecnologias">Tecnologias</a></li>
                <li class="nav-item nav-link"><a routerLink="/home/portifolio">Portifólio</a></li>
                <li class="nav-item nav-link"><a routerLink="/home/contato">Contato</a></li>
            </ul>
        </div>
    </div>
   </mat-toolbar>