.bg {
    background-color: black;
    background-image: url("../../../assets/images/backgrounds/computer-tree-nature-forest-wood-technology-796217-pxhere.com-mobilo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.lamina {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.fade-in {
    background-image: var(--gradiente-verde);
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.to-top{
    padding-top: 40px;
    top: 50px;
    
}
.content {
    width: 100%;
    text-align: center;
    align-items:center;
    justify-content: center;
    height: 100vh;
    //height: calc(100vh - 64px);

    flex-direction: column;
    color: white;
    font-family: 'Fleur De Leah', cursive;
    background-image: var(--gradiente-verde);
    background-clip: text;
    color: transparent;

    .left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        border-bottom: 200px;

        .top {

            h1 {
                text-align: center;
                font-size: 35px;
                line-height: 2em;
                background-image: inherit;
                background-clip: inherit;
                color: inherit;

                span {
                    font-family: 'Fleur De Leah', cursive;
                    margin-right: 10px;
                    font-size: 2em;
                }
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                margin-top: -30px;
                margin-left: 70px;
            }
        }
    }

    .bottom {
        margin-top: 20px;

        button {
            font-size: 25px;
            text-align: justify;
            line-height: 1.2em;
            font-family: 'Roboto', sans-serif;
            animation-delay: 2s;
            border-radius: 20px;
            border-color: rgba(132, 188, 141, 1);
            color: rgba(132, 188, 141, 1);
            transform: scale(1);
            transition: transform 0.3s;
            //margin-top: -45px;
        }

        a {
            background-image: var(--gradiente-verde);
            background-clip: text;
            color: transparent;
        }

        button:hover {
            transform: scale(1.1);
            transition: 250ms ease;
        }
    }
}

.delay-zero {
    animation-delay: 0s !important;
}



@media (min-width:992px) {
    .bg {
        background-image: url("../../../assets/images/backgrounds/computer-tree-nature-forest-wood-technology-796217-pxhere.com.jpg");
    }
}

@media (min-width:768px) {
    .content {
        display: flex;
    }

    .left-side{
        flex-direction: row !important;
    }
}