<div class="main container-fluid">
    <div class="container content">
        <!-- <div class="">
            <h2 class="">Sobre mim</h2>
        </div> -->
        <div class="">
            <p class="">
                Bacharel em Direito pela Universiade Cândido Mendes no Rio de Janeiro, e com anos de prática da
                atividade
                advocatícia,
                transicionei de carreira para uma área que me traga mais satisfação não apenas profissional mas,
                principalmente,
                pessoal.
            </p>
            <p>
                Apaixonado por bichos e entusiasta do alinhamento de divs, estou sempre em aprimoramento contínuo
                enquanto tento me atualizar nas novas
                tendências do mercado.
            </p>
        </div>
    </div>
</div>