.content {
    animation: fadeIn 0.8s ease-in-out forwards;
    background-image: var(--gradiente-verde);
    background-clip: text;
    //background-color: red;
    //height: 66vh;
    display: flex;
    flex-direction: column-reverse;
    //align-items: end;
    justify-content: space-evenly;

    h2 {
        font-family: var(--fleur);
        font-size: 50px;
        text-align: end;
    }

    p {
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
        font-family: roboto;
    }
}