/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Roboto&display=swap');


@keyframes blink {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Começa com opacidade zero (invisível) */
    }
    to {
      opacity: 1; /* Termina com opacidade total (visível) */
    }
  }

  @keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

  :root {
	--gradiente-verde: linear-gradient(185deg, #ffffff 1%, #09791c 100%);
	--fleur: 'Fleur De Leah', cursive;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	cursor: pointer;
}

.fade-in-down {
    color: white;
    background-image: var(--gradiente-verde);
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s ease-in-out forwards;
	animation-delay: 1s;
}
